[submodule "sysbox-fs"]
	path = sysbox-fs
	url = https://github.com/w7panel/sysbox-fs
[submodule "sysbox-runc"]
	path = sysbox-runc
	url = https://github.com/w7panel/sysbox-runc
[submodule "sysbox-ipc"]
	path = sysbox-ipc
	url = https://github.com/nestybox/sysbox-ipc
[submodule "sysbox-mgr"]
	path = sysbox-mgr
	url = https://github.com/nestybox/sysbox-mgr
[submodule "sysbox-libs"]
	path = sysbox-libs
	url = https://github.com/nestybox/sysbox-libs
[submodule "sysbox-pkgr"]
	path = sysbox-pkgr
	url = https://github.com/nestybox/sysbox-pkgr
[submodule "sysbox-dockerfiles"]
	path = sysbox-dockerfiles
	url = https://github.com/nestybox/dockerfiles
